<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-3">
            <app-sidebar-admin></app-sidebar-admin>
        </div>
        <div class="col-9">
            <div class="container col-6 offset-6">
                <button type="button" class="btn btn-success m-2">Agregar</button>
                <button type="button" class="btn btn-warning m-2">Modificar</button>
                <button type="button" class="btn btn-danger m-2">Eliminar</button>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Colegio</th>
                    <th scope="col">RUT administrador</th>
                    <th scope="col">Nombre administrador</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Colegio X</td>
                    <td>15.552.132-1</td>
                    <td>Felipe Diaz</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Colegio Y</td>
                    <td>10.375.514-K</td>
                    <td>Roberto Sepulveda</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>