<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-3">
            <app-sidebar-teacher></app-sidebar-teacher>
        </div>
        <div class="col-9">
            <h1>1° Básico - Inglés</h1>
            
            <div class="col d-flex flex-row justify-content-between">
                <h3>Evaluaciones agendadas</h3>
                
                <div class="">
                    <button type="button" class="btn btn-success mb-2 mx-2">Agregar</button>
                    <button type="button" class="btn btn-warning mb-2 mx-2">Modificar</button>
                    <button type="button" class="btn btn-danger mb-2 mx-2">Eliminar</button>
                </div>
            </div>

            <table class="table table-info">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Tipo de evaluación</th>
                        <th>Ponderación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10 MAYO</td>
                        <td>PRUEBA 3</td>
                        <td>30%</td>
                    </tr>
                    <tr>
                        <td>1 JUNIO</td>
                        <td>PRUEBA 4</td>
                        <td>30%</td>
                    </tr>
                </tbody>
            </table>

            <h3 class="mt-5">Alumnos</h3>
            <table class="table table-info">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>RUT</th>
                        <th>P1</th>
                        <th>P2</th>
                        <th>P3</th>
                        <th>P4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Luz Perez</td>
                        <td>21.234.421-2</td>
                        <td>5.2</td>
                        <td>5.5</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Alfonso Zambrano</td>
                        <td>21.523.512-5</td>
                        <td>3.2</td>
                        <td>5.4</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Iñaki Soto</td>
                        <td>20.423.500-2</td>
                        <td>1.0</td>
                        <td>4.2</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>