<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-9">
            <table class="table">
                <thead>
                    <th>Bloque</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td style="background-color: lightblue;"><strong>Matemáticas</strong></td>
                        <td style="background-color:cornsilk;"><strong>Educación física</strong></td>
                        <td style="background-color: lightblue;"><strong>Matemáticas</strong></td>
                        <td style="background-color:darkorchid;"><strong>Religión</strong></td>
                        <td style="background-color: lightblue;"><strong>Matemáticas</strong></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td style="background-color: red;"><strong>Lenguaje</strong></td>
                        <td style="background-color:deeppink;"><strong>Tecnología</strong></td>
                        <td style="background-color:darkcyan;"><strong>Inglés</strong></td>
                        <td style="background-color: red;"><strong>Lenguaje</strong></td>   
                        <td style="background-color:cornsilk;"><strong>Educación física</strong></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td style="background-color:darkcyan;"><strong>Inglés</strong></td>
                        <td style="background-color: lightblue;"><strong>Matemáticas</strong></td>
                        <td style="background-color:green;"><strong>Ciencias</strong></td>
                        <td style="background-color: red;"><strong>Lenguaje</strong></td>
                        <td style="background-color:darkseagreen;"><strong>Historia</strong></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td style="background-color:darkseagreen;"><strong>Historia</strong></td>
                        <td style="background-color:green;"><strong>Ciencias</strong></td>
                        <td style="background-color: whitesmoke;;"><strong>Filosofía</strong></td>
                        <td style="background-color:darkcyan;"><strong>Inglés</strong></td>
                        <td style="background-color: red;"><strong>Lenguaje</strong></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td style="background-color:green;"><strong>Ciencias</strong></td>
                        <td style="background-color:green;"><strong>Ciencias</strong></td>
                        <td style="background-color: whitesmoke;;"><strong>Filosofía</strong></td>
                        <td style="background-color:brown;"><strong>Consejo de curso</strong></td>
                        <td style="background-color:darkseagreen;"><strong>Historia</strong></td>
                    </tr>
                </tbody>
            </table>

            <p class="h5">
                Los bloques horarios pueden estar definidos de manera distinta por cada institución académica, es deber
                del alumno, o en su defecto el apoderado, conocer la duración de los bloques y sus horas de inicio y fin. 
            </p>
        </div>
    </div>
</div>
