<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-3">
            <app-sidebar 
              [props]="props">
            </app-sidebar>
        </div>
        <div class="col-9">
            <table class="table">
                <thead>
                    <th>Bloque</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </thead>
                <tbody>
                    <tr *ngFor="let schedule of schedules">
                        <td>{{schedule.block}}</td>
                        <td *ngFor="let sch of schedule.schedules" [style.backgroundColor]="sch.color"><strong>{{sch.course}}</strong></td>
                    </tr>
                </tbody>
            </table>

            <p class="h5">
                Los bloques horarios pueden estar definidos de manera distinta por cada institución académica, es deber
                del alumno, o en su defecto el apoderado, conocer la duración de los bloques y sus horas de inicio y fin. 
            </p>
        </div>
    </div>
</div>
