<app-navbar></app-navbar>

<div class="container fs-1 text-center my-3" style="color: #581B98;">
    <strong>Quienes somos</strong>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-8 offset-2">
            <p>
                Educrown es una compañía creada en agosto de 2021, basada en Valparaíso, Chile. 
                Esta iniciativa surge ante la creciente demanda de soluciones para amortiguar el efecto de la pandemia, 
                especialmente en el ámbito comunicacional entre los apoderados y los docentes de las instituciones de educación. 
            </p>
        </div>
        <div class="col-8 offset-2">
            <p>A día de hoy, aunque la situación está mas controlada y el problema ya no sea tan grande, 
                Educrown sigue siendo prevalente dentro de una gran cantidad de instituciones debido a su 
                facilidad de uso y accesibilidad.
            </p>
        </div>
        <div class="col-8 offset-2">
            <p>
                Actualmente contamos con mas de 40.000 usuarios distribuidos en más de 150 establecimientos a lo largo de Chile.
            </p>
        </div>
    </div>
</div>

<div class="card m-5">
    <div class="row g-3">
        <div class="col-xl-6">
            <img src="/assets/about-1.jpg" class="img-fluid">
        </div>
        <div class="col-xl-6">
            <img src="/assets/about-2.jpg" class="img-fluid">
        </div>
    </div>
</div>

<app-footer></app-footer>