<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-3">
            <app-sidebar-teacher></app-sidebar-teacher>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="h2 d-flex flex-row justify-content-between me-5">Comunicados
                    <span>
                        <button class="btn btn-danger">Crear comunicado</button>
                    </span>
                </div>
            </div>
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">Inasistencia</h5>
                    <p class="card-text">Maria Diaz.</p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#message-1" aria-expanded="false" aria-controls="collapseExample">
                        Leer
                    </button>
                </div>
                <div class="collapse" id="message-1">
                    <div class="card card-body">
                        <p>
                            Su pupilo está faltando mucho >:(
                        </p>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Inasistencia</h5>
                    <p class="card-text">Maria Diaz.</p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#message-2" aria-expanded="false" aria-controls="collapseExample">
                        Leer
                    </button>
                </div>
                <div class="collapse" id="message-1">
                    <div class="card card-body">
                        <p>
                            Su pupilo tiene malas notas >:(
                        </p>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Reunión</h5>
                    <p class="card-text">Maria Diaz.</p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#message-3" aria-expanded="false" aria-controls="collapseExample">
                        Leer
                    </button>
                </div>
                <div class="collapse" id="message-3">
                    <div class="card card-body">
                        <p>
                            Aviso que hay reunión el día de mañana, asistan por favor.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>