<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-9 mt-4 d-flex flex-row">
            <div class="card mx-5 text-center" style="width: 18rem;">
                <img src="assets/math.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Matemáticas</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Javier Gonzalez</h6>
                  <p class="card-body">
                    <strong>Promedio</strong><br>
                    <span class="text-success">5.3</span>
                  </p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
            <div class="card mx-5 text-center" style="width: 18rem;">
                <img src="assets/ciencias.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ciencias</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Marta Diaz</h6>
                  <p class="card-body">
                    <strong>Promedio</strong><br>
                    <span class="text-success">6.5</span>
                  </p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
            <div class="card mx-5 text-center" style="width: 18rem;">
                <img src="assets/educacion-fisica.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Educación física</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Roberto Inostroza</h6>
                  <p class="card-body"> 
                      <strong>Promedio</strong><br>
                      <span class="text-danger">3.4</span>
                  </p>
                  <a href="#" class="btn btn-primary text-center">Ver detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>