<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-3">
            <app-sidebar></app-sidebar>
        </div>
        <main class="col-9 mt-5 mt-md-1">
            <div class="row justify-content-start">
                <h3>Próximas evaluaciones</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Asignatura</th>
                        <th scope="col">Evaluación</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>10 MAYO</td>
                        <td>FÍSICA ELECTROMAGNETISMO</td>
                        <td>PRUEBA</td>
                      </tr>
                      <tr>
                        <td>12 MAYO</td>
                        <td>HISTORIA Y GEOGRAFÍA</td>
                        <td>PRESENTACIÓN ORAL</td>
                      </tr>
                      <tr>
                        <td>12 MAYO</td>
                        <td>MATEMÁTICAS</td>
                        <td>PRUEBA</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-start">
                <h3>Notificaciones</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Asunto</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>2 MAYO</td>
                        <td>SISTEMA</td>
                        <td>Calificaciones disponibles</td>
                      </tr>
                      <tr>
                        <td>3 MAYO</td>
                        <td>Juan Diaz</td>
                        <td>Inasistencia</td>
                      </tr>
                      <tr>
                        <td>3 MAYO</td>
                        <td>Maria Pérez</td>
                        <td>Mal comportamiento</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>