<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-3">
            <app-sidebar 
              [props]="props">
            </app-sidebar>
        </div>
        <main class="col-9 mt-5 mt-md-1">
            <div class="row justify-content-start">
                <h3>Próximas evaluaciones</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Asignatura</th>
                        <th scope="col">Evaluación</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let evaluation of evaluations">
                        <td>{{evaluation.date}}</td>
                        <td>{{evaluation.course}}</td>
                        <td>{{evaluation.evaluation_type}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-start">
                <h3>Notificaciones</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Asunto</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let notification of notifications">
                        <td>{{notification.date}}</td>
                        <td>{{notification.author}}</td>
                        <td>{{notification.issue}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>