<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-3">
            <app-sidebar-teacher 
                [props]="props">
            </app-sidebar-teacher>
        </div>
        <div class="col-9">
            <div class="h2">Listado de cursos</div>
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Asignatura</th>
                        <th>Alumnos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courses">
                        <td>{{course.grade}}</td>
                        <td>{{course.course}}</td>
                        <td>{{course.students}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="row justify-content-start mt-5">
                <h3>Próximas evaluaciones</h3>
                <table class="table table-danger">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scole="col">Curso</th>
                        <th scope="col">Asignatura</th>
                        <th scope="col">Evaluación</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let evaluation of nextEvaluations">
                            <td>{{evaluation.date}}</td>
                            <td>{{evaluation.grade}}</td>
                            <td>{{evaluation.course}}</td>
                            <td>{{evaluation.evaluation_type}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>