<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-3">
            <app-sidebar-admin></app-sidebar-admin>
        </div>
        <div class="col-9">
            <div class="container col-6 offset-6">
                <button type="button" class="btn btn-success m-2">Agregar</button>
                <button type="button" class="btn btn-warning m-2">Modificar</button>
                <button type="button" class="btn btn-danger m-2">Eliminar</button>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">RUT</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rol de usuario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users | slice:start:end; let i = index">
                    <th scope="row">{{start + i + 1}}</th>
                    <td>{{user.rut}}</td>
                    <td>{{user.name}} {{user.last_name}}</td>
                    <td>{{user.role}}</td>
                  </tr>
                </tbody>
              </table>

              <nav aria-label="...">
                <ul class="pagination">
                  <li [ngClass]="currentPage === 1 ? 'disabled' : ''" class="page-item">
                    <button class="page-link" href="#" aria-label="Previous" (click)="backPage()">
                      <span aria-hidden="true">&laquo;</span>
                    </button>
                  </li>
                  <li class="page-item active">
                    <button class="page-link">
                      {{currentPage}}
                    </button>
                  </li>
                  <li class="page-item">
                    <li [ngClass]="currentPage === numberOfPages ? 'disabled' : ''" class="page-item">
                      <button class="page-link" href="#" aria-label="Next" (click)="advancePage()">
                        <span aria-hidden="true">&raquo;</span>
                      </button>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</div>