<app-navbar></app-navbar>

<div class="card m-5">
    <div class="row g-3">
        <div class="col-xl-8">
            <img src="/assets/landing-image.jpg" class="img-fluid">
        </div>
        <div class="col-xl-4">
            <h1 style="color: #581B98;">Educrown</h1>
            <h2 style="color: #9C1DE7;">Fácil, rápido y seguro</h2>

            <p>
                Ofrecemos un medio de comunicación diseñado para facilitar la comunicación entre apoderados y docentes a mas 
                de 150 instituciones de educación a lo largo de Chile.
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>