<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-3">
          <app-sidebar-teacher
            [props]="props">
          </app-sidebar-teacher>
        </div>
        <div class="col-9 mt-4 d-flex flex-row">
          <div *ngFor="let course of courses" class="card mx-5 text-center" style="width: 18rem;">
            <img [attr.src]="course.img_path" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">{{course.course}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{course.grade}}</h6>
              <p class="card-body">
                <strong>Promedio</strong><br>
                <span [ngClass]="course.average >= 4.0 ? 'text-success' : 'text-danger'">{{course.average}}</span>
              </p>
              <a href="teacher/course" class="btn btn-primary">Ver detalles</a>
            </div>
          </div>
        </div>
    </div>
</div>>